body{
}
h1{
    text-align: center;
    color: white
}
.contain{
    background: rgb(0, 58, 84);
    padding-bottom: 10px;
    padding-top:10px; 
}
.log{
    margin-left:800px;
}
.active:hover{
    background: red;
}
ul li:hover{
    background: red;
    color: black;
}
.container{
    size: 100px;
}


.carousel-content {
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
  }

element {

}
.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2, .w3layouts-banner-top3 {

    min-height: 50px;

}
.w3layouts-banner-top2 {
    background: url(images/img3.jpeg) no-repeat 0px 0px;
        background-color: rgba(0, 0, 0, 0);
    background-size: 1500px 300px;
    background-color: orange;
    min-height: 300px;

}
.w3layouts-banner-top {

    background: url(images/img1.jpg) no-repeat 0px 0px;
    background-size: 1500px 300px;
    background-color: orange;
    min-height: 300px;

}
* {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
* {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.jislider ul {

    list-style-type: none;

}
p, ul {

    font-size: 14px;

}
p, ul {

    font-size: 14px;

}
body {

    font-family: 'Open Sans', sans-serif;

}
body {

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;

}
body {

    font-family: 'Open Sans', sans-serif;

}
body {

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;

}
html {

    font-size: 10px;

}
html {

    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;

}
html {

    font-size: 10px;

}
html {

    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;

}



body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Open Sans', sans-serif;
 }
h3{
	margin:0;	
	font-family: 'Montserrat', sans-serif;
}	
#dolor{
  height:70px;
}
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
p,ul{
	font-size:14px;
}
.agileits-banner-info h3 {
    color: #fff;
    font-size: 4em;
    margin: 0.1em 0 0.2em 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
	text-shadow: 1px 1px 2px rgb(12, 12, 12);
	-webkit-text-shadow: 1px 1px 2px rgb(12, 12, 12);
	-o-text-shadow: 1px 1px 2px rgb(12, 12, 12);
	-moz-text-shadow: 1px 1px 2px rgb(12, 12, 12);
	
}
.agileits-banner-info {
    text-align: center;
    padding: 18em 0 0em;
}
.agileits-banner-info p {
    color: #e2dfdf;
    font-size: 1em;
    line-height: 2.2em;
    letter-spacing: 2px;
    font-weight: 500;
    width: 49%;
	margin: 0 auto;
    text-align:  center;
}

	


.marquee{
background:silver;
width:10%;
height:300px;
position:absolute;
left:400px;
}
.marquee-text{
background:silver;
width:30%;
height:300px;
position:absolute;
left:500px;
}

/****** JiSlider css ******/
	#JiSlider {
				width: 100%;
				height: 10%;
			}
.jislider ul {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	list-style-type: none;
}

.jislider ul li {
	position: relative;
	height: 20%;
	float: left;
	overflow: hidden;
}

.jislider__img {
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 10%;
	z-index: -1;
}

.jislider__left-arrow {
	position: absolute;
	left: 30px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 30px;
	height: 60px;
	cursor: pointer;
}

.jislider__left-arrow__top {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 30px;
	background-color: inherit;
	-webkit-transform: rotate(30deg) translateX(10px) translateY(-3px);
	-ms-transform: rotate(30deg) translateX(10px) translateY(-3px);
	transform: rotate(30deg) translateX(10px) translateY(-3px);
}

.jislider__left-arrow__bottom {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 2px;
	height: 30px;
	background-color: inherit;
	-webkit-transform: rotate(-30deg) translateX(10px) translateY(3px);
	-ms-transform: rotate(-30deg) translateX(10px) translateY(3px);
	transform: rotate(-30deg) translateX(10px) translateY(3px);
}


.jislider__right-arrow {
	position: absolute;
	right: 30px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 30px;
	height: 60px;
	cursor: pointer;
}

.jislider__right-arrow__top {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 2px;
	height: 10px;
	background-color: inherit;
	-webkit-transform: rotate(-30deg) translateX(-10px) translateY(-3px);
	-ms-transform: rotate(-30deg) translateX(-10px) translateY(-3px);
	transform: rotate(-30deg) translateX(-10px) translateY(-3px);
}

.jislider__right-arrow__bottom {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 2px;
	height: 30px;
	background-color: inherit;
	-webkit-transform: rotate(30deg) translateX(-10px) translateY(3px);
	-ms-transform: rotate(30deg) translateX(-10px) translateY(3px);
	transform: rotate(30deg) translateX(-10px) translateY(3px);
}

.jislider__controller {
    position: absolute;
    max-width: 80%;
    padding: 0 10px;
    left: 0%;
    right: 0;
    bottom: 5%;
    margin: auto;
    text-align: center;
}

.jislider__button {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    cursor: pointer;
    border: 2px solid #fff!important;
}
.jislider__button.jislider__on{
	background:#ef5734!important;
    border:2px solid #ef5734!important;
}
.jislider__controller {
    width: 200px!important;
}
/*--start-responsive-design--*/
@media (max-width:1440px){
	.jislider__controller {
		padding: 0 30px;
		right: 0;
		bottom: 20%;
	}
}
@media (max-width:1280px){

	.jislider__controller {
		padding: 0 30px;
		right: 0;
		bottom: 20%;
	}
}
@media (max-width:1080px){
	.jislider__controller {
		padding: 0 30px;
		right: 0;
		bottom: 20%;
	}
}
@media (max-width:1050px){

	.jislider__controller {
		padding: 0 30px;
		right: 0;
		bottom: 26%;
	}
}
@media (max-width:1024px){
	.jislider__controller {
		padding: 0 30px;
		right: 0;
		bottom: 26%;
	}
}
@media (max-width:991px){

	.jislider__controller {
		padding: 0 30px;
		right: 0;
		bottom: 23%;
	}
}
@media (max-width:800px){
	.jislider__controller {
		padding: 0 30px;
		right: 0;
		bottom: 23%;
	}
}
@media (max-width:667px){

	.jislider__controller {
		padding: 0 30px;
		right: 0;
		bottom: 23%;
	}
	
}
@media (max-width:640px){
}
@media (max-width:600px){
	.jislider__controller {
		padding: 0 20px;
		right: 0;
		bottom: 22%;
	}
}
@media (max-width:480px){
	
	.jislider__controller {
		padding: 0 10px;
		right: 0;
		bottom: 22%;
	}
	
}

@media (max-width:384px){
	.jislider__controller {
		padding: 0 0px;
		right: 0;
		bottom: 1%;
	}
}
@media (max-width:320px){
	
	 .jislider__button {
		display: inline-block;
		width: 8px;
		height: 8px;
		margin: 3px;
	 }
}



body{
    margin: 0px;
    overflow-x: hidden;
}
.head_title{
    background-color: darkslategrey;
    margin-top: -17px;
    padding: 25px;
}
.logo{
    height: 10%;
    margin-left: 40%;
}
.head_slogan{
    margin-top: -7.9%;
    margin-left: 70%;
    padding: 40.8px;
}
.slogan{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
@keyframes color {
    0%{
        background-color: wheat;
    }
    20%{
        background-color: wheat;
    }
    40%{
        background-color: cyan;
    }
    60%{
        background-color: cyan;
    }
    80%{
        background-color: lightgreen;
    }
    100%{
        background-color: lightgreen;
    }
}
.menu{
    height: 50px;
    margin-top: -60px;
    background-color: white;
    border-radius: 100%;
}
.abc{
    background-color: blue;
    display: none;
}
.c1{
    height:300px;
    width: 1500px; 
}
.c2{
    height:300px;
    width: 1500px;  
}
.c3{
    height:300px;
    width: 1500px; 
}
.c4{
    height:300px;
    width: 1500px; 
}


.sliderbox{
    position: relative;
    width: 6420px;
    animation: anim;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.marq{
 animation: color;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.sliderbox img{
    float: left;
}

@keyframes anim{
    0%{
        left: 0px;

    }
    15%{
        left:0px;
    }
    20%{
        left: -1520px;
    }
    34%{
        left: -1520px;
    }
    40%{
        left: -3000px;
    }
    54%{
        left: -3000px;
    }
    60%{
        left: -4601px;
    }
    74%{
        left: -4601px;
    }
}

